<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4">
            <img src="/assets/images/tc-logo4.svg" class="bi me-2" height="32" />
            <span class="fs-4">{{ site.title }}</span>
        </span>
    </a>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-end mb-md-0">
        {% for item in site.data.navigation %}
        <li class="nav-link px-2"><a href="{{ item.link }}" class="nav-link text-dark">{{ item.name }}</a></li>
        {% endfor %}
    </ul>
</header>