<!doctype html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{{ site.description }}" />
    <meta name="author" content="{{ site.author }}" />
    <link href="/feed.xml" type="application/rss+xml" rel="alternate" title="{{ site.title }}" />
    <link rel="icon" href="/assets/images/favicon.png" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

    <div class="container">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          <span class="fs-4">Simple header</span>
        </a>
        {% include navigation.html %}
        
      </header>
    </div>
  

    <main>

      {{ content }}

    </main>

    <footer>  
      {% include footer.html %}
    </footer>

  </body>
</html>
